# Indexing

In [1]:
import pandas as pd

In [2]:
oo = pd.read_csv('olympics.csv',skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

## Index

In [3]:
type(oo.index)

pandas.core.indexes.range.RangeIndex

In [4]:
oo.index[100]

100

In [5]:
oo.index[100] = 5 # because indexs are not mutable

TypeError: Index does not support mutable operations

## set_index()

In [6]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [7]:
oo.set_index('Athlete')

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver
"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Bronze
"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold
"PEPANOS, Antonios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Silver
"LANE, Francis",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Bronze
"SZOKOLYI, Alajos",Athens,1896,Athletics,Athletics,HUN,Men,100m,M,Bronze
"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Gold
"HOFMANN, Fritz",Athens,1896,Athletics,Athletics,GER,Men,100m,M,Silver
"CURTIS, Thomas",Athens,1896,Athletics,Athletics,USA,Men,110m hurdles,M,Gold
"GOULDING, Grantley",Athens,1896,Athletics,Athletics,GBR,Men,110m hurdles,M,Silver
"LERMUSIAUX, Albin",Athens,1896,Athletics,Athletics,FRA,Men,1500m,M,Bronze
"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,1500m,M,Gold
"BLAKE, Arthur",Athens,1896,Athletics,Athletics,USA,Men,1500m,M,Silver
"GMELIN, Charles",Athens,1896,Athletics,Athletics,GBR,Men,400m,M,Bronze
"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Gold
"JAMISON, Herbert",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Silver
"GOLEMIS, Dimitrios",Athens,1896,Athletics,Athletics,GRE,Men,800m,M,Bronze
"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,800m,M,Gold
"DANI, Nandor",Athens,1896,Athletics,Athletics,HUN,Men,800m,M,Silver
"VERSIS, Sotirios",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Bronze
"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,discus throw,M,Gold
"PARASKEVOPOULOS, Panagiotis",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Silver
"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...
"MUTALIMOV, Marid",Beijing,2008,Wrestling,Wrestling Free.,KAZ,Men,96 - 120kg,M,Bronze
"TAYMAZOV, Artur",Beijing,2008,Wrestling,Wrestling Free.,UZB,Men,96 - 120kg,M,Gold
"AKHMEDOV, Bakhtiyar",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,96 - 120kg,M,Silver
"AMOYAN, Roman",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,- 55kg,M,Bronze
"PARK, Eun-Chul",Beijing,2008,Wrestling,Wrestling Gre-R,KOR,Men,- 55kg,M,Bronze
"MANKIEV, Nazyr",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,- 55kg,M,Gold
"BAYRAMOV, Rovshan",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,- 55kg,M,Silver
"TENGIZBAYEV, Nurbakyt",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,55 - 60kg,M,Bronze
"TIUMENBAEV, Ruslan",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,55 - 60kg,M,Bronze
"ALBIEV, Islam-Beka",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,55 - 60kg,M,Gold
"RAHIMOV, Vitaliy",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,55 - 60kg,M,Silver
"SIAMIONAU, Mikhail",Beijing,2008,Wrestling,Wrestling Gre-R,BLR,Men,60 - 66kg,M,Bronze
"VARDANYAN, Armen",Beijing,2008,Wrestling,Wrestling Gre-R,UKR,Men,60 - 66kg,M,Bronze
"GUENOT, Steeve",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,60 - 66kg,M,Gold
"BEGALIEV, Kanatbek",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,60 - 66kg,M,Silver
"GUENOT, Christophe",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,66 - 74kg,M,Bronze
"YANAKIEV, Yavor",Beijing,2008,Wrestling,Wrestling Gre-R,BUL,Men,66 - 74kg,M,Bronze
"KVIRKELIA, Manuchar",Beijing,2008,Wrestling,Wrestling Gre-R,GEO,Men,66 - 74kg,M,Gold
"CHANG, Yongxiang",Beijing,2008,Wrestling,Wrestling Gre-R,CHN,Men,66 - 74kg,M,Silver
"AVLUCA, Nazmi",Beijing,2008,Wrestling,Wrestling Gre-R,TUR,Men,74 - 84kg,M,Bronze
"MINGUZZI, Andrea",Beijing,2008,Wrestling,Wrestling Gre-R,ITA,Men,74 - 84kg,M,Gold
"FODOR, Zoltan",Beijing,2008,Wrestling,Wrestling Gre-R,HUN,Men,74 - 84kg,M,Silver
"MAMBETOV, Asset",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,84 - 96kg,M,Bronze
"WHEELER, Adam",Beijing,2008,Wrestling,Wrestling Gre-R,USA,Men,84 - 96kg,M,Bronze
"KHUSHTOV, Aslanbek",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,84 - 96kg,M,Gold
"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

In [12]:
oo.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [13]:
oo.set_index('Athlete',inplace=True)

KeyError: 'Athlete'

In [14]:
oo.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [15]:
oo.reset_index(inplace=True)

In [16]:
ath = oo.set_index('Athlete')
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

## reset_index()

In [18]:
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [19]:
ath.reset_index(inplace = True)
ath.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

## sort_index()

In [22]:
ath.set_index('Athlete',inplace=True)
ath.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [25]:
ath.sort_index(ascending=False)

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"ÖSTRAND, Per-Olof",Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
"ÖSTERVOLD, Ole Olsen",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold
"ÖSTERVOLD, Kristian Olsen",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold
"ÖSTERVOLD, Jan Olsen",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold
"ÖSTERVOLD, Henrik",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold
"ÖSTENSEN, Östen",Antwerp,1920,Shooting,Shooting,NOR,Men,"50m small bore rifle, team",M,Bronze
"ÖSTENSEN, Östen",Stockholm,1912,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTENSEN, Östen",Antwerp,1920,Shooting,Shooting,NOR,Men,"300+600m free rifle, team, prone",M,Silver
"ÖSTENSEN, Östen",Antwerp,1920,Shooting,Shooting,NOR,Men,300m free rifle 3 positions (3x40 shots),M,Bronze
"ÖSTENSEN, Östen",Antwerp,1920,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖRVIG, Thor",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1919),X,Gold
"ÖRVIG, Olav",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1919),X,Gold
"ÖRVIG, Erik",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1919),X,Gold
"ÖRTEGREN, Ruben",Stockholm,1912,Shooting,Shooting,SWE,Men,"50m small bore rifle, team",M,Silver
"ÖRSTED, Hans-Henrik",Moscow,1980,Cycling,Cycling Track,DEN,Men,Individual Pursuit,M,Bronze
"ZÜRNER, Albert",London,1908,Aquatics,Diving,GER,Men,3m springboard,M,Gold
"ZÜRNER, Albert",Stockholm,1912,Aquatics,Diving,GER,Men,10m platform,M,Silver
"ZÜLOW, Andreas",Seoul,1988,Boxing,Boxing,GDR,Men,57 - 60kg (lightweight),M,Gold
"ZÜHLKE, Steffen",Seoul,1988,Rowing,Rowing,GDR,Men,quadruple sculls without coxswain (4x),M,Bronze
"ZÄHRINGER, Klaus",Rome,1960,Shooting,Shooting,EUA,Men,50m rifle 3 positions (3x40 shots),M,Bronze
"ZYKINA, Olesya",Sydney,2000,Athletics,Athletics,RUS,Women,4x400m relay,W,Bronze
"ZYKINA, Olesya",Athens,2004,Athletics,Athletics,RUS,Women,4x400m relay,W,Silver
"ZYCH, Boguslaw",Moscow,1980,Fencing,Fencing,POL,Men,foil team,M,Bronze
"ZYBINA, Galina",Melbourne / Stockholm,1956,Athletics,Athletics,URS,Women,shot put,W,Silver
"ZYBINA, Galina",Tokyo,1964,Athletics,Athletics,URS,Women,shot put,W,Bronze
"ZYBINA, Galina",Helsinki,1952,Athletics,Athletics,URS,Women,shot put,W,Gold
...,...,...,...,...,...,...,...,...,...
"ABBAGNALE, Agostino",Seoul,1988,Rowing,Rowing,ITA,Men,quadruple sculls without coxswain (4x),M,Gold
"ABBA, Silvano",Berlin,1936,Modern Pentathlon,Modern Pentath.,ITA,Men,Individual competition,M,Bronze
"ABAY-NEMES, Oszkar",Berlin,1936,Aquatics,Swimming,HUN,Men,4x200m freestyle relay,M,Bronze
"ABAY, Peter",Barcelona,1992,Fencing,Fencing,HUN,Men,sabre team,M,Silver
"ABATI, Joel",Beijing,2008,Handball,Handball,FRA,Men,handball,M,Gold
"ABASSOVA, Tamilla",Athens,2004,Cycling,Cycling Track,RUS,Women,sprint,W,Silver
"ABASCAL GOMEZ, Jose Manuel",Los Angeles,1984,Athletics,Athletics,ESP,Men,1500m,M,Bronze
"ABASCAL GARCIA, Alejandro",Moscow,1980,Sailing,Sailing,ESP,Men,flying dutchman,X,Gold
"ABAS, Stephen",Athens,2004,Wrestling,Wrestling Free.,USA,Men,- 55kg,M,Silver
"ABARCA, Jose Maria",Atlanta,1996,Aquatics,Water polo,ESP,Men,water polo,M,Gold
"ABANDA ETONG, Patrice",Sydney,2000,Football,Football,CMR,Men,football,M,Gold
"ABALO, Luc",Beijing,2008,Handball,Handball,FRA,Men,handball,M,Gold
"ABALMASAU, Aliaksei",Beijing,2008,Canoe / Kayak,Canoe / Kayak F,BLR,Men,K-4 1000m (kayak four),M,Gold
"ABAKUMOVA, Maria",Beijing,2008,Athletics,Athletics,RUS,Women,javelin throw,W,Silver
"ABAJO, Jose Luis",Beijing,2008,Fencing,Fencing,ESP,Men,épée individual,M,Bronze
"AAS, Thomas Valentin",Stockholm,1912,Sailing,Sailing,NOR,Men,8m,X,Gold
"AAS, Karl Jan",Antwerp,1920,Gymnastics,Artistic G.,NOR,Men,"team, free system",M,Silver
"AARONES, Ann Kristin",Atlanta,1996,Football,Football,NOR,Women,football,W,Bronze
"AARDEWIJN, Pepijn",Atlanta,1996,Rowing,Rowing,NED,Men,lightweight double sculls (2x),M,Silver
"AARDENBURG, Willemien",Seoul,1988,Hockey,Hockey,NED,Women,hockey,W,Bronze
"AANING, Alf Lied",Antwerp,1920,Gymnastics,Artistic G.,NOR,Men,"team, free system",M,Silver
"AAMODT, Ragnhild",Beijing,2008,Handball,Handball,NOR,Women,handball,W,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,vault,M,Gold
"AALTONEN, Paavo Johannes",Helsinki,1952,Gymnastics,Artistic G.,FIN,Men,team competition,M,Bronze
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,individual all-round,M,Bronze
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,pommel horse,M,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,team competition,M,Gold
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze
"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold

In [ ]:
pd.read_csv()

## loc[...]

In [46]:
oo.loc['BOLT, Usain']

KeyError: 'the label [BOLT, Usain] is not in the [index]'

In [47]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [48]:
oo.set_index('Athlete',inplace=True)

In [49]:
oo.loc['BOLT, Usain']

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,4x100m relay,M,Gold

In [50]:
oo.reset_index(inplace=True)

In [51]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [53]:
oo.loc[oo.Athlete == 'BOLT, Usain']

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
27552,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,100m,M,Gold
27570,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,200m,M,Gold
27603,"BOLT, Usain",Beijing,2008,Athletics,Athletics,JAM,Men,4x100m relay,M,Gold

## iloc[...]

In [54]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [55]:
oo.iloc[1700]

Athlete         RABOT, Pierre
City                   London
Edition                  1908
Sport                 Sailing
Discipline            Sailing
NOC                       FRA
Gender                    Men
Event                      6m
Event_gender                X
Medal                  Bronze
Name: 1700, dtype: object

In [56]:
oo.iloc[[1542, 2390,6000,15000]]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1542,"DUCKETT, Richard Louis",London,1908,Lacrosse,Lacrosse,CAN,Men,lacrosse,M,Gold
2390,"SAASTAMOINEN, Eino",Stockholm,1912,Gymnastics,Artistic G.,FIN,Men,"team, free system",M,Silver
6000,"AGOSTONI, Carlo",Los Angeles,1932,Fencing,Fencing,ITA,Men,épée individual,M,Bronze
15000,"JENSEN, Poul Richard Hoj",Montreal,1976,Sailing,Sailing,DEN,Men,fleet/match race keelboat open (Soling),X,Gold

In [57]:
oo.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [58]:
oo.iloc[1:4]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold